<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Success</title>
</head>
<body>
    <div class="success-message">
        <p>Your submission was successful!</p>
        <a href="https://main--davyd-kuleba.netlify.app">Go back to the website</a>
    </div>
</body>
<style>
    body, .success-message{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
</html>
